{
    "presets": [
        ["env", { "modules": false }],
        "stage-2",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "transform-object-assign"
    ],
    "comments":false,
    "env": {
        "development": {
            "presets": ["env", "stage-2"]
        }
    }
}
